.itinerary-universal {
  box-sizing: border-box;
  margin: 0px;
  flex-direction: row;
  flex-basis: 100%;
  -webkit-box-flex: 0;
  flex-grow: 0;
  max-width: 100%;
  padding: 0px 1rem;
}
@media (min-width: 600px) {
  itinerary-universal {
    flex-basis: 100%;
    -webkit-box-flex: 0;
    flex-grow: 0;
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  itinerary-universal {
    flex-basis: 100%;
    -webkit-box-flex: 0;
    flex-grow: 0;
    max-width: 100%;
  }
}

.adornment {
  display: flex;
  height: 0.01em;
  max-height: 2em;
  -webkit-box-align: center;
  align-items: center;
  white-space: nowrap;
  color: rgb(94, 104, 120);
  margin-right: 0.25rem;
}
